<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard" text="Back"></ion-back-button>
    </ion-buttons>
    <ion-title>All Policies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-detail
          *ngFor="let detail of policyDetails"
          [detail]="detail"
        ></app-detail>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="foot-note ion-text-center">
          *excluding pending fund transactions
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
