<ion-header class="ion-no-border">
  <ion-toolbar [class.show-background]="showToolbar">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="menu" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline" color="light">
        </ion-icon>
        <ion-badge class="notifications-badge" color="danger">2</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content
  class="ion-no-padding ion-no-margin"
  fullscreen
  (ionScroll)="onScroll($event)"
  [scrollEvents]="true"
>
  <ion-grid class="ion-no-margin ion-no-padding">
    <ion-row>
      <ion-col>
        <div class="hero">
          <ion-avatar>
            <!-- <img src="http://via.placeholder.com/640x360" /> -->
            <img
              src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraight&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light"
            />
          </ion-avatar>
          <h5 class="greeting-txt ion-text-center ion-no-margin">
            Good Afternoon
          </h5>
          <h2 class="name-txt ion-text-center ion-no-margin">
            Chu Ying, Rebecca
          </h2>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="nav">
          <ion-grid class="ion-padding-vertical">
            <ion-row>
              <ion-col size="4">
                <ion-button
                  shape="round"
                  expand="block"
                  fill="clear"
                  class="nav-btn"
                  color="dark"
                >
                  <div>
                    <ion-icon class="nav-icon" name="cash-outline"></ion-icon>
                    <br />
                    <p class="ion-text-wrap ion-text-capitalize ion-no-margin">
                      Manage ILAS Funds
                    </p>
                  </div>
                </ion-button>
              </ion-col>
              <ion-col size="4">
                <ion-button
                  shape="round"
                  expand="block"
                  fill="clear"
                  class="nav-btn ion-margin-top"
                  color="dark"
                >
                  <div>
                    <ion-icon
                      class="nav-icon"
                      name="receipt-outline"
                    ></ion-icon>
                    <br />
                    <p class="ion-text-wrap ion-text-capitalize ion-no-margin">
                      Claims
                    </p>
                  </div>
                </ion-button>
              </ion-col>
              <ion-col size="4">
                <ion-button
                  shape="round"
                  expand="block"
                  fill="clear"
                  class="nav-btn"
                  color="dark"
                >
                  <div>
                    <ion-icon
                      class="nav-icon"
                      name="document-text-outline"
                    ></ion-icon>
                    <br />
                    <p class="ion-text-wrap ion-text-capitalize ion-no-margin">
                      Policy Servicing
                    </p>
                  </div>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="policies">
          <h3 class="ion-text-center ion-margin-top policies-title">
            Coverage from 4 Policies
          </h3>
          <ion-icon
            class="policies-chevron"
            name="chevron-forward-outline"
          ></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="policies-icons">
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <div class="icons ion-text-center">
                  <ion-avatar>
                    <img src="" />
                  </ion-avatar>
                  <h3>Life</h3>
                  <p>HKD 6,146,066</p>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="icons ion-text-center">
                  <ion-icon name="add"></ion-icon>
                  <h3>Life</h3>
                  <p>HKD 6,146,066</p>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <div class="icons ion-text-center">
                  <ion-icon name="add"></ion-icon>
                  <h3>Life</h3>
                  <p>HKD 6,146,066</p>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="icons ion-text-center">
                  <ion-icon name="add"></ion-icon>
                  <h3>Life</h3>
                  <p>HKD 6,146,066</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="note ion-text-center ion-margin-top">
          <ion-label>
            *Additional coverages detailed in provision
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="assets-card ion-padding ion-margin-top">
          <h1>Assets</h1>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
