@import 'https://fonts.googleapis.com/css2?family=Asap:wght@700&family=Homemade+Apple&family=Slabo+27px&display=swap"';

ion-header {
  ion-toolbar {
    --background: transparent;
    --border-style: none;
    --ion-color-base: transparent !important;
  }

  .show-background {
    border-style: none;
    background: #eaab00;
  }

  ion-badge.notifications-badge {
    background-color: red;
    position: absolute;
    top: 0;
    right: -3px;
    border-radius: 100%;
    font-size: 0.7em;
  }
}
