div.policy-icons {
  ion-icon.policy-icon {
    background: red;
    border-radius: 100%;
    padding: 12px;
    font-size: 20pt;
    color: #fff;
  }

  h5.policy-title {
    margin: 5px;
  }

  p.policy-desc {
    font-size: 10pt;
  }
}
