div.policy-list {
  ion-icon.list-icon {
    color: #eaab00;
  }

  ion-item-divider.header-divider {
    border-style: none;
  }

  ion-item-divider.bottom-divider {
    width: 345px;
    margin: 0 auto;
  }

  ion-label.list-header {
    font-size: 1.1em;
    color: #757575;
  }

  ion-label.policy-title {
    font-weight: bold;
    margin-left: 72px;
  }
}
